body {
background:#FFF;
font-family:Tahoma;
font-size:11pt;
color:#000;
padding: 5px;
}

#header {
margin:0;
padding:15px 0 55px;
}

p.page_time {
margin: 0;
padding: 0;
font-size: 8pt;
color: #bfbfbf;
}

/* New Post Form */

#newpost_form {
width: 452px;
padding: 0;
margin: 0 auto;
margin-bottom: 30px;
}

input.newpost_title {
font-family:Tahoma;
font-size:11pt;
color:#000;
margin: 3px;
background-color: #fbfbfb;
border: none;
border-bottom: 1px solid #d3d3d3;
border-top: 1px solid #d3d3d3;
padding: 1px;
width: 448px;
}

textarea.newpost_post {
background-color: #fbfbfb;
border: 1px solid #e1e1e1;
margin: 3px;
padding: 0;
width: 448px;
}

span.newpost_formtitle {
padding-right: 3px;
margin: 0;
text-align: center;
font-size: 8pt;
color: #cacaca;
float: right;
}

input.newpost_submit {
margin-left: 3px;
padding: 2px 4px 2px 4px;
color: #4292d5;
background-color: #efefef;
border: 1px solid #e1e1e1;
}

input.newpost_submit:hover {
border: 1px solid #4292d5;
}
