body {
background:#FFF;
font-family:Tahoma;
font-size:11pt;
color:#000;
padding: 5px;
}

#header {
margin:0;
padding:15px 0 55px;
}

p.page_time {
margin: 0;
padding: 0;
font-size: 8pt;
color: #bfbfbf;
}

/* Posts */

#post_spacer {
margin:0;
padding:0;
height: 30px;
}

#post_image {
background-color:#efefef;
margin:0;
padding:4px 0 4px 4px;
}


#post_stats_op {
background-color: #FFF;
font-size:9pt;
text-align: right;
margin: 0;
padding-right: 1px;
color: #bfbfbf;
}

#post_stats_op a {
color:#4292d5;
text-decoration: none;
}

#post_stats_op a:hover{
color:#b80606;
}

#post_title_op{
background-color:#6e6e6e;
font-family:Consolas;
font-size:12.5pt;
color:#FFF;
margin:0;
padding:3px 5px;
height: 23px;
}

#post_title_op a{
color:#FFF;
text-decoration:none;
}

#post_title_op a:hover {
color:#4292d5;
}


#post_title {
background-color:#efefef;
font-family:Consolas;
font-size:12.5pt;
color:#4292d5;
margin:0;
padding:3px 5px;
height: 25px;
}

#post {
width:100%;
vertical-align:text-top;
}

#post p {
font-family:Tahoma;
font-size:11pt;
color:#000;
padding:7px;
margin:0;
}

.post_image_container {
margin:0;
padding:0;
}

.post_footer {
font-family:Consolas;
font-size:10pt;
color:#000;
margin:0;
padding:0;
}

.post_user{
float: right;
padding: 2px 8px 2px;
}

.post_datetime{
float: right;
padding: 2px 4px 2px 8px;
}

.post_details {
background-color:#efefef;
padding:2px 12px 2px 12px;
float: right;
border-bottom: 1px solid #FFF;
}

.post_details a {
color:#b80606;
text-decoration:none;
}

.post_details a:hover {
color:#4292d5;
}

/* New Post Form */

#newpost_form {
width: 452px;
padding: 0;
margin: 0 auto;
margin-bottom: 30px;
}

input.newpost_title {
font-family:Tahoma;
font-size:11pt;
color:#000;
margin: 3px;
background-color: #fbfbfb;
border: none;
border-bottom: 1px solid #d3d3d3;
border-top: 1px solid #d3d3d3;
padding: 1px;
width: 448px;
}

textarea.newpost_post {
background-color: #fbfbfb;
border: 1px solid #e1e1e1;
margin: 3px;
padding: 0;
width: 448px;
}

span.newpost_formtitle {
padding-right: 3px;
margin: 0;
text-align: center;
font-size: 8pt;
color: #cacaca;
float: right;
}

input.newpost_submit {
margin-left: 3px;
padding: 2px 4px 2px 4px;
color: #4292d5;
background-color: #efefef;
border: 1px solid #e1e1e1;
}

input.newpost_submit:hover {
border: 1px solid #4292d5;
}

/* Channels */

#channel_title {
background-color:#6e6e6e;
font-family:Consolas;
font-size:12.5pt;
color:#FFF;
margin-bottom:25px;
padding:3px 5px;
height: 23px;
width: 300px;
}

#channel_list {
background-color: #e1e1e1;
width:100%;
vertical-align:text-top;
padding: 3px;
}

#channel_list p {
font-family:Tahoma;
font-size:11pt;
color:#000;
padding:3px;
}

#channel_list a {
color:#4292d5;
margin: 0 10px 0 10px;
}

td.channel_fixrow {
margin: 0;
}